.controller.ds4.white {
    background-image: url(basewhite1.png);
}

.ds4.white .button {
    background-image: url(facewhite1.png);
}

.ds4.white .stick {
    background-image: url(stickswhite1.png);
}
